<!DOCTYPE html>
<html>
  <head>
    <meta property="og:image" content="https://i.ibb.co/m94PFG0/main-page.png" />
    <title>TulipExchange</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript">
      window.finnhubAPIKey = "<%= Rails.application.credentials.finnhub[:api_key] %>"
      window.splashphone = "<%= image_url('splashphone.png') %>"
      window.protpagebkg =  "<%= image_url('protpagebkg.png') %>"
      window.unsplash = "<%= image_url('unsplash.jpg') %>"
    </script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
